<ng-container *ngIf="ready && !isHidden">
  <div
    class="mw568 buttonContent tc"
    [style.visibility]="isInvisible ? 'hidden' : 'visible'"
    dir="{{ dir$ | async }}"
  >
    <a
      *ngIf="type === 'url'"
      [href]="url"
      [ngStyle]="{ 'background-color': buttonBgColor, color: buttonTextColor }"
      class="button"
      target="_blank"
      >{{ buttonText }}</a
    >
    <a
      *ngIf="type === 'event'"
      class="button"
      [ngStyle]="{ 'background-color': buttonBgColor, color: buttonTextColor }"
      (click)="formAction()"
      href="javascript:void(0)"
      >{{ buttonText }}</a
    >
  </div>
</ng-container>
