<ng-container *ngIf="ready && visibilityWatcherService.shouldShowElement(this)">
  <div
    class="mw568 buttonContent tc"
    dir="{{ dir$ | async }}"
    [ngStyle]="{ 'visibility': visibilityWatcherService.getVisibilityStyle(this) }"
  >
    <a
      *ngIf="type === 'url'"
      [href]="url"
      [ngStyle]="{ 'background-color': buttonBgColor, color: buttonTextColor }"
      class="button"
      target="_blank"
      >{{ buttonText }}</a
    >
    <a
      *ngIf="type === 'event'"
      class="button"
      [ngStyle]="{ 'background-color': buttonBgColor, color: buttonTextColor }"
      (click)="formAction()"
      href="javascript:void(0)"
      >{{ buttonText }}</a
    >
  </div>
</ng-container>
