<ng-container *ngIf="ready && !isHidden">
  <div [style.visibility]="isInvisible ? 'hidden' : 'visible'">
    <div
      *ngIf="!card.isClickable"
      class="card"
      [ngStyle]="{ 'background-color': background }"
    >
      <app-content-repeater [items]="contents"></app-content-repeater>
    </div>
    <a
      *ngIf="card.isClickable"
      class="card clickable"
      (click)="eventClick()"
      [ngStyle]="{ 'background-color': background }"
    >
      <app-content-repeater [items]="contents"></app-content-repeater>
    </a>
  </div>
</ng-container>
